@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,500&display=swap');

html,
body {
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

header {
    position: fixed;
    width: 98.9%;
    z-index: 3;
    font-family: 'Roboto Mono', monospace;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background: #212A3E;
    margin: 0;
}

li {
    list-style: none;
    margin-right: 5%;
}

.nave {
    color: #F1F6F9;
    text-decoration: none;
    font-size: 20px;
}

.logo {
    color: white;
    width: 300px;
    margin-right: 60px;
}

.container-template {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background: #212A3E;
}

.template {
    background: #212A3E;
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    width: 80%;
    height: 450px;
    font-size: 45px;
}

.template-img {
    border-radius: 30%;
    display: flex;
    height: 400px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.template h2 {
    width: 500px;
    height: 50px;
    color: #F1F6F9;
}

.p-t {
    color: #F1F6F9;
    font-size: 20px;
    height: 50px;
    width: 70%;
    margin-bottom: 15%;
}

.contact {
    background-color: #F1F6F9;
    border: none;
    color: #303d57;
    border-radius: 15px;
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
    cursor: pointer;
    text-decoration: none;
    padding: 10px 15px 15px 10px;
}

.container-about {
    background: #F1F6F9;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-about-text {
    display: flex;
    width: 90%;
    justify-content: right;
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;
}

.container-about-text h2 {
    background: #394867;
    color: #F1F6F9;
    padding: 10px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 100%;
}

.container-about-img {
    display: flex;
    justify-content: center;
    width: 90%;
}

.container-skills {
    width: 100%;
    height: 400px;
    background: #394867;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-skills {
    background: #394867;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #F1F6F9;
    text-align: end;
}

.title-skills h2 {
    width: 45%;
    height: max-content;
    padding: 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background: #F1F6F9;
    color: #394867;
    font-family: 'Roboto Mono', monospace;
}

.content-skills {
    width: 60%;
    height: 350px;
    background: #F1F6F9;
    margin-top: 10px;
    border-radius: 15px;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 5%;
}

.all-skills {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.skill-one {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 70px;
    background: #394867;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

.title-skills-two {
    background: #F1F6F9;
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: end;
    align-items: center;
    color: #394867;
    text-align: start;
}

.title-skills-two h2 {
    width: 50%;
    height: max-content;
    padding: 10px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background: #394867;
    color: #F1F6F9;
    font-family: 'Roboto Mono', monospace;
}

.conteiner-projects {
    background: #F1F6F9;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    font-family: 'Roboto Mono', monospace;
    margin-top: 5%;
}

.conteiner-projects-text {
    max-width: 90%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-link {
    margin-bottom: 20px;
    background-color: #394867;
    border: none;
    color: #F1F6F9;
    border-radius: 15px;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    cursor: pointer;
    text-decoration: none;
    padding: 10px 15px 15px 10px;
}

.slideshow-container {
    max-width: 700px;
    max-height: 600px;
    position: relative;
    margin: auto;
    border-radius: 15px;
    box-shadow: 1px 1px 20px 1px;
    margin-bottom: 15px;
}

.slideshow-container img {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    max-width: 700px;
    max-height: 500px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.footer {
    width: 100%;
    height: 220px;
    background: #212A3E;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F1F6F9;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
}

.footer p {
    font-size: 15px;
}

.contact-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.contact-container-two {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.nave:hover {
    font-size: 25px;
    transition: 0.2s;
}

.contact:hover {
    background-color: #c9ced1;
}

.button-link:hover {
    background-color: #303d57;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}